* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* color: #495057; */
}

h1 {
    font-size: 65px;
}

h3 {
    font-size: 45px;
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

p {
    font-size: 16px;
}

.container {
    width: 100%;
}

.section-text {
    text-align: center;
    margin-bottom: 30px;
    color: #495057;
}

.section-text>h3 {
    color: #FC6539;
}

.section-text>p {
    padding: 0 100px 0 100px;
}

/*  Header Banner section start */
.header-banner {
    height: 670px;
    background-size: 100%;
    padding: 100px 200px 50px 200px;
    text-align: center;
    background-image: url(images/donation14.jpg);
    background-repeat: no-repeat;
}

.overlay {
    position: relative;
    height: 320px;
    width: 945px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.banner-text {
    color: #fff;
}

.org-name {
    /* background-color: #ef233c; */
    border-bottom: 1px solid #ff4e00;
    color: #fff;
}

.button {
    padding: 10px 20px 10px 20px;
    background-color: #ff5714;
    color: #fff;
    text-align: center;
    /* margin: 30px !important; */
    border-radius: 5px;
    text-decoration: none;
}

/* Header Banner section ends */

/*  donation amount section starts*/

.donation-amount-section {
    padding: 100px 250px 80px;
}


.donate-amount {
    display: flex;
    justify-content: center;
}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 80px;
    width: 90px;
    padding: 20px 20px;
    background-color: #f8f9fa;
    border: 1px solid #e8eddf;
    border-radius: 5px;
    color: #495057;
    font-size: 18px;
    font-weight: 600;
}

.amount:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 80px;
    width: 90px;
    padding: 20px 20px;
    background-color: #FFEEEE;
    border: 2px solid #ff4e00;
    border-radius: 5px;
    color: #ff4e00;
    font-size: 18px;
    font-weight: 600;
}

.other-amnt-form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 30px;
}

.other-amnt-form>button {
    height: 30px;
    padding: 15px 25px 35px 25px;
    background: linear-gradient(to right, #ff8500 0%, #ff4e00 100%);
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
}

.other-amnt-input {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    margin: 0 50px 0 50px;
    border: 0px;
    border-bottom: 1px solid #e8eddf;
    font-size: 18px;
    text-align: center;
}

/*  donation amount section ends*/

/*  donation plan section starts*/
.donation-plan-section {
    margin: 0 150px 50px 150px;
}

.donation-plans {
    display: flex;
    justify-content: space-evenly;
}

.donation-plan-box {
    height: 260px;
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 50px 15px 30px 15px;
    text-align: left;
    color: #fff;
}

.donation-plan-box>p {
    padding-top: 10px;
}

#box-1 {
    background-color: #FC6539;
}

#box-2 {
    background-color: #FEA444;
}

#box-3 {
    background-color: #e09f3e;
}

#box-4 {
    background-color: #ff8c42;
}

.icon {
    padding-bottom: 20px;
}

.icon>img {
    height: 60px;
}

/*  donation plan section ends*/

/* blog section starts */
.blog-section {
    margin: 50px 120px;
}

.blog-section-title {
    padding: 0 15px 10px 15px;
}

.donation-blogs {
    display: flex;
    justify-content: center;
}

.blog-post {
    height: 500px;
    width: 345px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f7e1d3;
    border-bottom: 5px solid #ff4e00;
}

.blog-post>img {
    width: 100%;
    height: 250px;
}

.blog-description {
    padding: 10px 15px;
    color: #495057;
}

/* blog section ends */

/* Join us section starts */
.volunteer-section{
    margin: 50px 50px;
}
.volunteer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f7e1d3;
    margin-left: 85px;
    margin-right: 85px;
    border-radius: 10px;
}
.volunteer-banner{
    height: 320px;
    width: 944px;
    background-size: 100%;
    background-image: url(images/Volunteers.jpg);
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    font-size: 24px !important;
}
.volunteer-btn{
    background-color: #f7e1d3;
}

/* Join us section ends */

/*  */

.update-section {
    margin: 50px 250px;
}
/* .subscibe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: #FFF4D6;
} */

.subscibe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #f7e1d3;
    border-radius: 5px;
}
.form-input {
    padding: 20px 70px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    background-color: aliceblue;
}

.subscibe-form a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    border: none;
    background-color: #FC6539;
    border-radius: 0px 5px 5px 0px;

}


